//- UI Elements - General - Paginations

//- include ../../common/variables
//- include ../mixins


div.row

  div.col-lg-4

    //Pagination
    h3 Pagination

    div.demo-paginations
      ul.pagination
        li
          a(href="#")
            i.fa.fa-angle-left
        each val in [1, 2, 3, 4, 5]
          li
            a(href="#")= val
        li
          a(href="#")
            i.fa.fa-angle-right

  div.col-lg-4

    //Disabled and active states
    h3 Disabled and active states

    div.demo-paginations
      ul.pagination
        li.disabled
          a(href="#")
            i.fa.fa-angle-left
        each val in [1, 2, 3, 4, 5]
          if val === 1
            li.active
              a(href="#")= val
          else
            li
              a(href="#")= val
        li
          a(href="#")
            i.fa.fa-angle-right

  div.col-lg-4

    //Pager
    h3 Pager

    div.demo-paginations
      ul.pager
        li.mright5
          a(href="#") Previous
        li.mleft5
          a(href="#") Next

div.row

    div.col-lg-4

      //Pagination Size
      h3 Pagination Size

      div.demo-paginations

        div
          ul.pagination.pagination-lg
            li
              a(href="#")
                i.fa.fa-angle-left
            each val in [1, 2, 3]
              li
                a(href="#")= val
            li
              a(href="#")
                i.fa.fa-angle-right

        div
          ul.pagination
            li
              a(href="#")
                i.fa.fa-angle-left
            each val in [1, 2, 3]
              li
                a(href="#")= val
            li
              a(href="#")
                i.fa.fa-angle-right

        div
          ul.pagination.pagination-sm
            li
              a(href="#")
                i.fa.fa-angle-left
            each val in [1, 2, 3]
              li
                a(href="#")= val
            li
              a(href="#")
                i.fa.fa-angle-right

    div.col-lg-4

      //Pagination Align
      h3 Pagination Align

      div.demo-paginations
        div.text-left
          ul.pagination
            li
              a(href="#")
                i.fa.fa-angle-left
            each val in [1, 2, 3, 4, 5]
              li
                a(href="#")= val
            li
              a(href="#")
                i.fa.fa-angle-right
        div.text-center
          ul.pagination
            li
              a(href="#")
                i.fa.fa-angle-left
            each val in [1, 2, 3, 4, 5]
              li
                a(href="#")= val
            li
              a(href="#")
                i.fa.fa-angle-right
        div.text-right
          ul.pagination
            li
              a(href="#")
                i.fa.fa-angle-left
            each val in [1, 2, 3, 4, 5]
              li
                a(href="#")= val
            li
              a(href="#")
                i.fa.fa-angle-right

    div.col-lg-4

      //Pager Aligned Links
      h3 Pager Aligned Links

      div.demo-paginations
        ul.pager
          li.previous
            a(href="#")
              i.fa.fa-angle-double-left
              |&nbsp;&nbsp;Older
          li.next
            a(href="#")
              |Newer&nbsp;&nbsp;
              i.fa.fa-angle-double-right

      //Pager Optional Disabled State
      h3 Pager Optional Disabled State

      div.demo-paginations
        ul.pager
          li.previous.disabled
            a(href="#")
              i.fa.fa-angle-double-left
              |&nbsp;&nbsp;Older
          li.next
            a(href="#")
              |Newer&nbsp;&nbsp;
              i.fa.fa-angle-double-right
