//- Pages - Profile - Blogs


include ../../common/variables
include ../mixins


div.profile-blog-item
  h3
    a(href="#{page_pages_blog_item.url}") Strategies for Keeping CSS Specificity Low
  p.small
    i.fa.fa-calendar.mright10
    span.mright15 JANUARY 12, 2015
  p
    |Keeping CSS specificity low across all the selectors in your project is a worthy goal. It's generally a sign that things are in relative harmony. You aren't fighting against yourself and you have plenty of room to override styles when you need to. Specificity on selectors tends to creep up over time, and there is a hard ceiling to that. I'm sure we've all felt the pain of !important tags and inline styles.
    a.mleft15(href="#{page_pages_blog_item.url}")
      |Read Article
      i.fa.fa-angle-double-right.mleft5
  p.small
    span.mright10
      i.fa.fa-tags
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-primary","HTML5","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-success","CSS3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-warning","jQuery","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-info","Bootstrap3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-danger","Template","","","","2")(href="#")

hr.hr-grey

div.profile-blog-item
  h3
    a(href="#{page_pages_blog_item.url}") How to Back Up Your WordPress Database
  p.small
    i.fa.fa-calendar.mright10
    span.mright15 JANUARY 7, 2015
  p
    |The following is a guest post by Andy Adams (@andyonsoftware). Andy is writing a book on freelancing with WordPress and has some WordPress chops. This post has been on my idea list for ages, so when Andy expressed an interest in writing for the site, I was stoked to have him tackle it. This isn't one of those "a good idea for a rainy day" things, it's a "you must be doing this or you'll probably lose your...
    a.mleft15(href="#{page_pages_blog_item.url}")
      |Read Article
      i.fa.fa-angle-double-right.mleft5
  p.small
    span.mright10
      i.fa.fa-tags
    +buttons("btn-outlined btn-xs mright5 btn-primary","HTML5","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 btn-success","CSS3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 btn-warning","jQuery","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 btn-info","Bootstrap3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 btn-danger","Template","","","","2")(href="#")

hr.hr-grey

div.profile-blog-item
  h3
    a(href="#{page_pages_blog_item.url}") How to Scale SVG
  p.small
    i.fa.fa-calendar.mright10
    span.mright15 JANUARY 6, 2015
  p
    img.pull-left.mright10(src="http://lorempixel.com/100/75/city/")
    |The following is a guest post by Amelia Bellamy-Royds. Amelia has lots of experience with SVG, as the co-author of SVG Essentials and author of the upcoming Using SVG with CSS3 and HTML5. Amelia and I both will be speaking on SVG at the upcoming RWD Summit as well! Here, she shares an epic guide to scaling SVG, covering all the ways you might want to do that. It's not nearly as straightforward as scaling raster graphics, but that...
    a.mleft15(href="#{page_pages_blog_item.url}")
      |Read Article
      i.fa.fa-angle-double-right.mleft5
  p.small
    span.mright10
      i.fa.fa-tags
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-primary","HTML5","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-success","CSS3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-warning","jQuery","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-info","Bootstrap3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-danger","Template","","","","2")(href="#")

hr.hr-grey

div.profile-blog-item
  h3
    a(href="#{page_pages_blog_item.url}") Ajaxing for your SVG Sprite
  p.small
    i.fa.fa-calendar.mright10
    span.mright15 JANUARY 12, 2015
  p.text-center
    img(src="http://lorempixel.com/640/200/people" width="100%")
  p
    |Say you're building an SVG icon system. You're building a SVG sprite full of symbols by hand, or using a build tool like IcoMoon or grunt-svgstore to create it for you.
    a.mleft15(href="#{page_pages_blog_item.url}")
      |Read Article
      i.fa.fa-angle-double-right.mleft5
  p.small
    span.mright10
      i.fa.fa-tags
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-primary","HTML5","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-success","CSS3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-warning","jQuery","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-info","Bootstrap3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-danger","Template","","","","2")(href="#")

hr.hr-grey

div.profile-blog-item
  h3
    a(href="#{page_pages_blog_item.url}") How to Roll Your Own Simple WordPress Podcast Plugin
  p.small
    i.fa.fa-calendar.mright10
    span.mright15 JANUARY 3, 2015
  p
    img.pull-right.mleft10(src="http://lorempixel.com/100/75/business/")
    |The following is a guest post by Geoff Graham. Geoff told me: "I love WordPress plugins but sometimes feel we rely on them without really understanding what they do." Ain't that true? Here, he walks us through how you might build this functionality yourself into WordPress. This might be just the ticket for those of you who resolved to start a podcast in 2015!
    a.mleft15(href="#{page_pages_blog_item.url}")
      |Read Article
      i.fa.fa-angle-double-right.mleft5
  p.small
    span.mright10
      i.fa.fa-tags
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-primary","HTML5","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-success","CSS3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-warning","jQuery","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-info","Bootstrap3","","","","2")(href="#")
    +buttons("btn-outlined btn-xs mright5 mbottom5 btn-danger","Template","","","","2")(href="#")

hr.hr-grey
