//- Sidebar - Menu

include ../../common/variables


//Menu
h4.side-menu-title MENU

ul.nav.side-menu

  //- Loop 1st level menu items
  each menu_main, index in page_list

    li

      //- Check 1st level menu items status
      if menu_main.name === page_name || menu_main.name === page_parent
        - var menu_main_class = "active";
      else
        - var menu_main_class = "";

      //- Check 2nd level menu items
      if menu_main.sub != ""
        - var data_tigger = "collapse";
        - var data_parent = "#sidebar";
        - var menu_arrow = "fa fa-angle-left arrow";
      else
        - var data_tigger = "";
        - var data_parent = "";
        - var menu_arrow = "hidden";

      //- Output:
      a(class=menu_main_class href=menu_main.url data-trigger=data_tigger data-parent=data_parent)
        i(class=menu_main.iconclass)
        span.menu-title #{menu_main.name}

        if menu_main.labeltext != "" && menu_main.labelclass != ""
          span(class="label #{menu_main.labelclass}") #{menu_main.labeltext}

        span(class=menu_arrow)

      if menu_main.sub != ""
        - var menu_sub_display = "display:none;";
        each menu_sub, index in menu_main.sub
          if menu_sub.parent == page_parent && body_class_name.indexOf("small-sidebar") == -1
            - menu_sub_display = "display:block;";

        ul(class="nav side-menu-sub collapsible" style=menu_sub_display)

          //- Loop 2nd level menu items
          each menu_sub, index in menu_main.sub
            li
              if menu_sub.name === page_name
                - var menu_sub_class = "active";
              else
                - var menu_sub_class = "";
              a(class=menu_sub_class href=menu_sub.url)
                i(class=menu_sub.iconclass)
                span.menu-title #{menu_sub.name}

                if menu_sub.labeltext != "" && menu_sub.labelclass != ""
                  span(class="label #{menu_sub.labelclass}") #{menu_sub.labeltext}