//- UI Elements - Widgets - Profile Card #4

include ../../common/variables
include ../mixins


//Profile Card #4
div.widget.panel.panel-white.no-b
  div.panel-body.bgc-primary
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[15]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-success
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[16]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-info
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[17]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-warning
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[18]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-danger
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[19]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-red
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[0]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-orange
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[1]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-yellow
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[2]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-green
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[3]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-black
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[4]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-blue
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[5]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-violet
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[6]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-pink
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[7]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer

div.widget.panel.panel-white.no-b
  div.panel-body.bgc-grey
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[8]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer