//- UI Elements - Widgets - Message Card

include ../../common/variables
include ../mixins


//Message Card
div.widget.panel.panel-white.no-b
  div.panel-body.ptop25
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a.link-black(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m(data-scroll='slimscroll' data-scroll-size='100%|100')
          != '<span class="text-red">This is a SlimScroll Demo.</span><br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.'
        p.mtop15.small.text-right
          a.link-red.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.link-grey.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.link-grey.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.link-grey.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-primary
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-success
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-info
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-warning
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-danger
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-red
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-orange
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-yellow
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-green
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-black
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-blue
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-violet
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-pink
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More

div.widget.panel.panel-white.no-b
  div.panel-body.ptop25.bgc-grey
    div.media
      div.media-left
        img.img-circle.avatar.avatar-sm(src="#{base_img}user-head-1.jpg" alt="Michael Ma")
      div.media-body
        div.h5.media-heading
          a(href="#")
            |Michael Ma
        div.small.mbottom15
          |28 Dec 2014, 22:05
        p.no-m
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p.mtop15.small.text-right
          a.mright10(href="javascript:void(0)")
            i.fa.fa-heart-o.mright5
            |Like
          a.mright10(href="javascript:void(0)")
            i.fa.fa-reply.mright5
            |Reply
          a.mright10(href="javascript:void(0)")
            i.fa.fa-share-alt.mright5
            |Share
          a.mright10(href="javascript:void(0)")
            i.fa.fa-ellipsis-h.mright5
            |More