//- Mixin - Buttons


//- btnType: '1'=<button>, '2'=<a>
mixin buttons(btnClass, btnCon, icoBefore, icoAfter, isDropdown, btnType)

  if btnType === '1' || !btnType

    if isDropdown != "true"
      button(type='button' class='btn #{btnClass}')&attributes(attributes)
        if icoBefore && icoBefore != ''
          i(class='#{icoBefore}')
        |#{btnCon}
        if icoAfter && icoAfter != ''
          i(class='#{icoAfter}')

    else
      button(type='button' class='btn dropdown-toggle #{btnClass}' data-toggle='dropdown')&attributes(attributes)
        if icoBefore && icoBefore != ''
          i(class='#{icoBefore}')
        |#{btnCon}
        if icoAfter && icoAfter != ''
          i(class='#{icoAfter}')

    if block
      block

  else if btnType === '2'

    if isDropdown != "true"
      a(role='button' class='btn #{btnClass}')&attributes(attributes)
        if icoBefore && icoBefore != ''
          i(class='#{icoBefore}')
        |#{btnCon}
        if icoAfter && icoAfter != ''
          i(class='#{icoAfter}')

    else
      a(role='button' class='btn dropdown-toggle #{btnClass}' data-toggle='dropdown')&attributes(attributes)
        if icoBefore && icoBefore != ''
          i(class='#{icoBefore}')
        |#{btnCon}
        if icoAfter && icoAfter != ''
          i(class='#{icoAfter}')

    if block
      block
