//- Mixin - Title & Breadcrumb


//- type:
//- 1  : Breadcrumb Left, Title Left
//- 2  : Breadcrumb Right, Title Left
//- 3  : Breadcrumb Left, Title Right
//- 4  : Breadcrumb Right, Title Right
//- 5  : Title with label
//- 6  : Title & SubTitle
//- 7  : Singleline Breadcrumb & Title (Title Left, Breadcrumb Right, Align Left)
//- 8  : Singleline Breadcrumb & Title (Breadcrumb Left, Title Right, Align Left)
//- 9  : Singleline Breadcrumb & Title (Breadcrumb Left, Title Right, Align Right)
//- 10 : Singleline Breadcrumb & Title (Breadcrumb Right, Title Right, Align Right)
mixin title-breadcrumb(type, id, dataTrigger, dataTarget, labelClass, labelText, subTitleText)

  if type==='7'||type==='8'||type==='9'||type==='10'
    - var pClass = 'layout-title-breadcrumb-singleline'
  else
    - var pClass = ''

  //Title & Breadcrumb
  div(class='layouts-title-breadcrumb clearfix #{pClass}' id=id data-trigger=dataTrigger data-target=dataTarget)

    if type==='1'||type==='2'||type==='3'||type==='4'||type==='5'||type==='6'||type==='7'||type==='9'

      if type==='1'
        - var breadcrumbClass = ''
        - var titleClass = ''
      else if type==='2'
        - var breadcrumbClass = 'text-right'
        - var titleClass = ''
      else if type==='3'
        - var breadcrumbClass = ''
        - var titleClass = 'text-right'
      else if type==='4'
        - var breadcrumbClass = 'text-right'
        - var titleClass = 'text-right'
      else if type==='5'
        - var breadcrumbClass = ''
        - var titleClass = ''
      else if type==='6'
        - var breadcrumbClass = ''
        - var titleClass = ''
      else if type==='7'
        - var breadcrumbClass = 'pull-left'
        - var titleClass = 'pull-right'
      else if type==='9'
        - var breadcrumbClass = 'pull-left'
        - var titleClass = 'pull-left'

      //Breadcrumb
      ol(class='breadcrumb layout-breadcrumb #{breadcrumbClass}')
        li
          a(href=page_dashboard.url)
            i.fa.fa-home
            |Home
        if page_parent != ""
        each page, index in page_list
          if page.name === page_parent
            li
              a(href=page.url) #{page.name}

        li.active #{page_name}

      //Title
      div(class='layout-title #{titleClass}')
        h3 #{page_name}

          if labelText && labelText != ''
            span(class='label #{labelClass}') #{labelText}

          if subTitleText && subTitleText != ''
            small #{subTitleText}

    else if type==='8'||type==='10'

      if type==='8'
        - var breadcrumbClass = 'pull-left'
        - var titleClass = 'pull-left'
      else if type==='10'
        - var breadcrumbClass = 'pull-right'
        - var titleClass = 'pull-right'

      //Title
      div(class='layout-title #{titleClass}')
        h3 #{page_name}

          if labelText && labelText != ''
            span(class='label #{labelClass}') #{labelText}

          if subTitleText && subTitleText != ''
            small #{subTitleText}

      //Breadcrumb
      ol(class='breadcrumb layout-breadcrumb #{breadcrumbClass}')
        li
          a(href=page_dashboard.url)
            i.fa.fa-home
            |Home
        if page_parent != ""
        each page, index in page_list
          if page.name === page_parent
            li
              a(href=page.url) #{page.name}

        li.active #{page_name}