//- Public Page Foot

include ../common/variables


include ./scroll-to-top

//Load jQuery
<!--[if IE]>
script(src=js_jquery_1x_cdn)
script window.jQuery || document.write('<script src="#{js_jquery_1x}"><\/script>')
<![endif]-->
<!--[if !IE]>-->
script(src=js_jquery_2x_cdn)
script window.jQuery || document.write('<script src="#{js_jquery_2x}"><\/script>')
<!-- <![endif]-->

//Load jQueryUI
script(src=js_jquery_ui)

//Load Plugins
script(src=js_plugins)

//Load Main
script(src=js_main)

unless js_demo == ""
  //Javascript for template demo, don't use it online
  script(src=js_demo)

unless google_analytics_site_id == ""
  //Google Analytics
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','#{google_analytics_site_id}','auto');ga('send','pageview');