//- Public <head> tag

include ../common/variables

head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title #{page_name} - #{site_name}
  meta(name="description", content=site_description)
  meta(name="viewport", content="width=device-width, initial-scale=1")

  //Place favicon.ico and apple-touch-icon(s) in the root directory
  link(rel="apple-touch-icon", href="apple-touch-icon-precomposed.png")
  link(rel="shortcut icon", href="favicon.ico")

  //Vendor CSS
  each url in css_vendor
    link(rel="stylesheet", href=url)

  //Core Styles
  link(rel="stylesheet", href=css_core)

  //Template Style
  link(rel="stylesheet", id="curStyle", href=current_style)