//- Public <head> tag

include ../common/variables

head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title #{page_name} - #{site_name}
  meta(name="description", content=site_description)
  meta(name="viewport", content="width=device-width, initial-scale=1")

  //Place favicon.ico and apple-touch-icon(s) in the root directory
  link(rel="apple-touch-icon", href="apple-touch-icon-precomposed.png")
  link(rel="shortcut icon", href="favicon.ico")

  //Open Sans Fonts Styles
  link(rel="stylesheet", href=css_open_sans_fonts)

  //BootStrap Styles
  link(rel="stylesheet", href=css_bootstrap)

  //BootStrap Progress Bar Styles
  link(rel="stylesheet", href=css_bootstrap_progressbar)

  //Font Awesome
  link(rel="stylesheet", href=css_font_awesome)

  //Entypo Icons
  link(rel="stylesheet", href=css_entypo)

  //Themify Icons
  link(rel="stylesheet", href=css_themify_icons)

  //Animate.css
  link(rel="stylesheet", href=css_animate_css)

  //jQuery UI Styles
  link(rel="stylesheet", href=css_jquery_ui)
  link(rel="stylesheet", href=css_jquery_ui_structure)
  link(rel="stylesheet", href=css_jquery_ui_theme)

  //iCheck Styles
  link(rel="stylesheet", href=css_icheck)

  //noUISlider Styles
  link(rel="stylesheet", href=css_noui_slider)
  link(rel="stylesheet", href=css_noui_slider_pips)

  //Ion.Range Slider Styles
  link(rel="stylesheet", href=css_ion_range_slider)
  link(rel="stylesheet", href=css_ion_range_slider_skin)

  //Animate.css
  link(rel="stylesheet", href=css_animate_css)

  //Core Styles
  link(rel="stylesheet", href=css_core)

  //Template Style
  link(rel="stylesheet", id="curStyle", href=current_style)

  //HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  <!--[if lt IE 9]>
  script(src=js_html5shiv)
  script(src=js_respond)
  <![endif]-->

  //Load modernizer
  script(src=js_modernizer)