//- UI Elements - Preloader


include ../common/variables
include ./mixins


div.col-lg-12

  //Single Element CSS Spinners
  div.panel.panel-white
    div.panel-heading
      |Single Element CSS Spinners
    div.panel-body
      div.row.mtop10.mbottom20
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load1
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load2
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load3
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
      div.row.mtop10.mbottom20
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load4
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load5
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load6
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
      div.row.mtop10.mbottom20
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load7
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-4
          div.bgc-black.demo-loader
            div.load8
              div.loader
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo

  //CSS Spinners
  div.panel.panel-white
    div.panel-heading
      |CSS Spinners
    div.panel-body
      div.row.mtop10.mbottom20
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.spinner
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.throbber
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.refreshing
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.heartbeat
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
      div.row.mtop10.mbottom20
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.gauge
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.timer
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.three-quarters
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.wobblebar
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
      div.row.mtop10.mbottom20
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.atebits
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.whirly
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.flower
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.dots
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
      div.row.mtop10.mbottom20
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.circles
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.plus
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-white.demo-loader-2
            div.spinners
              span.ball
                |Loading...
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo

  //SpinKit
  div.panel.panel-white
    div.panel-heading
      |SpinKit
    div.panel-body
      div.row.mtop10.mbottom20
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-rotating-plane
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-double-bounce
              div.sk-double-bounce1
              div.sk-double-bounce2
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-wave
              - for(var i=1;i<=4;i++)
                div(class="sk-rect#{i}")
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-wandering-cubes
              div.sk-cube1
              div.sk-cube2
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
      div.row.mtop10.mbottom20
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-pulse
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-chasing-dots
              div.sk-dot1
              div.sk-dot2
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-three-bounce
              - for(var i=1;i<=3;i++)
                div(class="sk-bounce#{i}")
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-circle
              - for(var i=1;i<=12;i++)
                div(class="sk-circle#{i} sk-circle")
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
      div.row.mtop10.mbottom20
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-cube-grid
              - for(var i=1;i<=9;i++)
                div(class="sk-cube")
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-wordpress
              span.sk-inner-circle
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo
        div.col-lg-3
          div.bgc-black.demo-loader
            div.sk-spinner.sk-spinner-fading-circle
              - for(var i=1;i<=12;i++)
                div(class="sk-circle#{i} sk-circle")
          div.text-center.p10
            button.btn.btn-success(type="button" data-tigger="view-loader-fullscreen")
              i.icon-popup
              |Demo

  //Ajax loader images
  div.panel.panel-white
    div.panel-heading
      |Ajax loader images
    div.panel-body
      div.clearfix
        img.m10(src="#{base_img}loader/loader-001.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-002.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-003.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-004.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-005.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-006.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-007.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-008.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-009.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-010.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-011.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-012.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-013.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-014.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-015.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-016.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-017.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-018.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-019.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-020.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-021.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-022.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-023.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-024.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-025.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-026.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-027.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-028.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-029.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-030.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-031.GIF" width="64")
        img.m10(src="#{base_img}loader/loader-032.GIF" width="64")
        img.m10(src="#{base_img}loader/loader-033.GIF" width="64")
        img.m10(src="#{base_img}loader/loader-034.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-035.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-036.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-037.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-038.GIF" width="32")
        img.m10(src="#{base_img}loader/loader-039.GIF" width="32")