//- UI Elements - Typography


//- include ../common/variables
include ./mixins


div.col-md-6

  //Heading
  +panel('panel-white', 'Heading')
    div.demo-typography
      h1
        |Heading 1
        = '\n'
        small Secondary text
      h2
        |Heading 2
        = '\n'
        small Secondary text
      h3
        |Heading 3
        = '\n'
        small Secondary text
      h4
        |Heading 4
        = '\n'
        small Secondary text
      h5
        |Heading 5
        = '\n'
        small Secondary text
      h6
        |Heading 6
        = '\n'
        small Secondary text

  //Paragraph
  +panel('panel-white', 'Paragraph')
    div.demo-typography
      p This is a Paragraph. Way building not get formerly her peculiar. Up uncommonly prosperous sentiments simplicity acceptance to so.
      p Aliquam ac mollis libero, vel mattis ligula. Pellentesque augue dui, tempus nec consequat bibendum, facilisis non nulla. Aliquam ac mollis libero, vel mattis ligula. Aenean viverra metus ligula Pellentesque augue dui, tempus nec consequat bibendum, facilisis non nulla.

  //More Text
  +panel('panel-white', 'More Text')
    div.demo-typography
      p!= 'You can use the mark tag to<mark>highlight</mark>text.'
      p!= '<del>This line of text is meant to be treated as deleted text.'
      p!= '<s>This line of text is meant to be treated as no longer accurate.</s>'
      p!= '<u>This line of text will render as underlined.</u>'
      p!= '<small>This line of text is meant to be treated as fine print.</small>'
      p!= 'The following snippet of text is <strong>rendered as bold text</strong>.'
      p!= 'The following snippet of text is rendered as <em>italicized text</em>.'
      p!= 'An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.'
      p!= '<abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.'
      p.text-lowercase Lowercased text.
      p.text-uppercase Uppercased text.
      p.text-capitalize Capitalized text.

  //Blockquotes and Pullquotes
  +panel('panel-white', 'Blockquotes and Pullquotes')
    div.demo-typography
      blockquote
        p The Americans had embarrassed themselves at home in the 2002 world championship, and when they haphazardly put together their team for the 2004 Olympics, nobody should have been surprised if they lost. "I think we can lose our next game,"
      blockquote
        p Grand jury to weigh case of NASCAR's Tony Stewart A grand jury will decide whether NASCAR driver Tony Stewart will be charged in the August death of a fellow driver at a sprint car race in upstate New York, a prosecutor said Tuesday. Ontario County
        footer!= 'Someone famous in <cite title="Source Title">Source Title</cite>'
      blockquote.blockquote-reverse
        p Boeing and SpaceX are expected to be awarded contracts by NASA to take U.S. astronauts to and from the International Space Station starting in 2017, a space industry source says.
        footer!= 'Someone famous in <cite title="Source Title">Source Title</cite>'
      p
        |The report denies the litany of the state's abuses saying these are "racket kicked up by the hostile forces" and derived from non-credible witnesses, who were paid to "cook up groundless stories."
        span.pullquote Pyongyang frames all criticism of their human rights situation as a politicized attack from hostile forces
        | said Sokeel Park, director of research and strategy at LINK (Liberty in North Korea), an international NGO that works with North Korean refugees. North Korea's version of its human rights report was published ahead of Tuesday's U.N. General Assembly, where a discussion and vote on North Korea's human rights situation is expected.

  //Unstyled Lists
  +panel('panel-white', 'Unstyled Lists')
    div.demo-typography
      ul.list-unstyled
        li Lorem ipsum dolor sit amet
        li Consectetur adipiscing elit
        li Integer molestie lorem at massa
        li
          |Nulla volutpat aliquam velit
          ul
            li Phasellus iaculis neque
            li Purus sodales ultricies
            li Vestibulum laoreet porttitor sem
            li Ac tristique libero volutpat at
        li Faucibus porta lacus fringilla vel
        li Aenean sit amet erat nunc
        li Eget porttitor lorem

  //Inline Lists
  +panel('panel-white', 'Inline Lists')
    div.demo-typography
      ul.list-inline
        li Lorem ipsum dolor sit amet
        li Consectetur adipiscing elit
        li Integer molestie lorem at massa
        li Faucibus porta lacus fringilla vel
        li Aenean sit amet erat nunc

  //Horizontal Description Lists
  +panel('panel-white', 'Horizontal Description Lists')
    div.demo-typography
      dl.dl-horizontal
        dt Description lists
        dd A description list is perfect for defining terms.
        dt Euismod
        dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
        dd Donec id elit non mi porta gravida at eget metus.
        dt Malesuada porta
        dd Etiam porta sem malesuada magna mollis euismod.



div.col-md-6

  //Contextual Colors
  +panel('panel-white', 'Contextual Colors')
    div.demo-typography
      p.text-primary She literature discovered increasing how diminution.
      p.text-success 习近平上任一年半多以来，从不留死角的反腐到一系列。
      p.text-info Meer nu na kost maar niet de.
      p.text-warning On lekkeriaan taskustaan en kaupunkien pilkkanaan.
      p.text-danger Chez on prit et on deux. Sous mene ici uns tout.
      p.text-red Νε τέλός μάγον εκ να ως μήκος πέντε.
      p.text-orange אל אָמַרְתִּי כי כְּשֶׁהוּא בן תה אַרְגִּישׁ חש מְסֹרָקִים הַבַּרְזֶל סד
      p.text-yellow Parrebbe scioglie che consunta conservo fra.
      p.text-green パイオニアは１６日、来年３月までにグループ従業員の。
      p.text-black От Тя гл до се ея. Не до Сводя ее Се Ах Вдаль Из.
      p.text-blue ~Првобитна Jolly Eleph alces Ursus Munro Bison.
      p.text-violet No su atras saber lo tenia comia.
      p.text-pink Oddasz gość Obuchowicz męką wolał wyczha.
      p.text-grey ಆದಾಗ್ಯೂ, ಅನೇಕ ವಿದೇಶಿ ಮಾಧ್ಯಮ ಆರಂಭದಲ್ಲಿ ಇನ್ನೂ ಸುಧಾರಣೆ

  //Lead Text
  +panel('panel-white', 'Lead Text')
    div.demo-typography
      p.lead This is a Lead Text. Civility vicinity graceful is it at. Improve up at to on mention perhaps raising.

  //Address
  +panel('panel-white', 'Address')
    div.demo-typography
      div.well
        address
          strong Twitter, Inc.
          br/
          |795 Folsom Ave, Suite 600
          br/
          |San Francisco, CA 94107
          br/
          abbr(title="Phone") P:
          |(123) 456-7890

        address
          strong Full Name
          br/
          a(href="mailto:#") first.last@example.com

  //Alignments
  +panel('panel-white', 'Alignments')
    div.demo-typography
      p.text-left Left aligned text.
      p.text-center Center aligned text.
      p.text-right Right aligned text.
      p.text-justify Justified text.
      p.text-nowrap No wrap text.

  //Unordered Lists
  +panel('panel-white', 'Unordered Lists')
    div.demo-typography
      ul
        li Lorem ipsum dolor sit amet
        li Consectetur adipiscing elit
        li Integer molestie lorem at massa
        li
          |Nulla volutpat aliquam velit
          ul
            li Phasellus iaculis neque
            li Purus sodales ultricies
            li Vestibulum laoreet porttitor sem
            li Ac tristique libero volutpat at
        li Faucibus porta lacus fringilla vel
        li Aenean sit amet erat nunc
        li Eget porttitor lorem

  //Ordered Lists
  +panel('panel-white', 'Ordered Lists')
    div.demo-typography
      ol
        li Lorem ipsum dolor sit amet
        li Consectetur adipiscing elit
        li Integer molestie lorem at massa
        li Faucibus porta lacus fringilla vel
        li Aenean sit amet erat nunc
        li Eget porttitor lorem
        li Phasellus iaculis neque
        li Purus sodales ultricies
        li Vestibulum laoreet porttitor sem
        li Ac tristique libero volutpat at

  //Description Lists
  +panel('panel-white', 'Description Lists')
    div.demo-typography
      dl
        dt Description lists
        dd A description list is perfect for defining terms.
        dt Euismod
        dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
        dd Donec id elit non mi porta gravida at eget metus.
        dt Malesuada porta
        dd Etiam porta sem malesuada magna mollis euismod.

  //Dropcaps
  +panel('panel-white', 'Dropcaps')
    div.demo-typography
      p!= '<span class="drop-cap">M</span>an request adapted spirits set pressed. Up to denoting subjects sensible feelings it indulged directly. We dwelling elegance do shutters appetite yourself diverted. Our next drew much you with rank. Tore many held age hold rose than our. She literature sentiments any contrasted. Set aware joy sense young now tears china shy.'
